{%extends "base.html"%}
{%load static%}
{%block title%}
Kastrat TV
{%endblock%}

{%block content%}
<div class="container">
        <h1>Investiga</h1>
        <div class="strip blue-strip mb-1"></div>
        <div class="strip red-strip mb-3"></div>

    <div class="row">
        {%for data in datas %}
        <div class="col-12 col-md-4 text-center mb-3">
            {% autoescape off %}
            {{data.link}}
            {%endautoescape%}
            <h3>{{data.judul}}</h3>
        </div>
        {%endfor%}
    </div>
    
</div>
{%endblock%}
