{%extends 'base.html'%}
{%load static%}
{%block head%}
<link href="{%static 'css/home/home.css'%}" rel="stylesheet" type="text/css">
{%endblock%}
{%block title%}
IMTI 2019
{%endblock%}
{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-12">
            <img src="{%static 'media/home/LOGO-IMTI-1.png'%}" class="img-fluid" alt="IMTI LOGO">
        </div>
    </div>
    <div class="text-white row dark-blue-bg mb-5 p-3">
        <div class="col-12 col-md-12">
            <div class="text-center">
                    <h2 class="mt-1">Nilai</h2>
            </div>
        </div>
        
        
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-4 text-center mb-4"><i class="fas fa-7x fa-cogs dark-blue"></i></div>
        <div class="col-12 col-md-8">
            <h3>Sinergis</h3>
            
                <div class="strip blue-strip mb-1"></div>
                <div class="strip red-strip mb-3"></div>
        
            <p>Membangun dan memastikan hubungan kerjasama yang produktif dan
                kreatif serta kemitraan yang harmonis secara internal maupun external IMTI FTUI
                2019 dengan saling mengisi dan melengkapi perbedaan untuk mencapai hasil lebih
                besar daripada Jumlah bagian per bagian.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="mobile col-12 col-md-4 text-center mb-4"><i class="fas fa-dice-d20 fa-7x dark-blue"></i></div>
        <div class="col-12 col-md-8 text-right">
            <h3>Integrasi</h3>
            <div class="strip blue-strip mb-1 float-right"></div>
            <div class="strip red-strip mb-3 float-right"></div>
            <p>Mengintegrasikan keduabelas bidang juga subsistem yang terdapat pada
                IMTI FTUI dengan satu sama lain maupun IMTI secara keseluruhan dengan para
                pemangku kepentingannya untuk menghasilkan karya yang bermanfaat dan
                berkualitas bagi warga TI UI dan sekitarnya.</p>
        </div>
        <div class="desktop col-12 col-md-4 text-center mb-4"><i class="fas fa-dice-d20 fa-7x dark-blue"></i></div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-4 text-center mb-4"><i class="fas fa-paint-brush fa-7x dark-blue"></i></div>
            <div class="col-12 col-md-8">
                <h3>Berkreasi</h3>
                <div class="strip blue-strip mb-1"></div>
                <div class="strip red-strip mb-3"></div>
                <p>Mengoptimalkan pemanfaatan dari kreatifitas mahasiswa TI UI dalam
                    menginovasikan program-program pada IMTI FTUI juga membuat iklim yang
                    produktif agar mahasiswa TI UI dapat mengaktualisasikan dirinya sesuai dengan
                    minat, bakat, dan potensi pada dirinya.</p>
            </div>
        </div>
</div>
{%endblock%}