{%extends "base.html"%}
{%load static%}
{%block title%}
PO Announcement
{%endblock%}
{%block content%}


<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Judul</h5>
    <p class="card-text">isi</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
    

{%endblock%}


    

  