body {
    background-color: #edebec;
}

h1,h2,h3,a {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

h4,h5,h6, p {
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    background-image: linear-gradient(to right top, #011842, #1e1641, #2f133e, #3d1038, #470d32, #510a30, #5b082d, #640828, #720326, #7e0021, #8a001b, #950612);
}

.light-blue {
    color: #abd4ff;
}

.dark-blue {
    color: #334865;
}

.dark-blue-bg {
    background-color: #334865;
}

.strip {
    height: 7px;
}

.mobile {
    display: none;
}

.blue-strip {
    background-color: #011842;
    width: 120vh;
}

.red-strip {
    background-color: #950612;
    width: 110vh;
}

.float-right {
    float: right;
}

@media only screen and (max-width: 548px) {
    .blue-strip {
        width: 40vh;
    }

    .red-strip {
        width: 45vh;
    }

    .mobile {
        display: inline-block;
    }

    .desktop {
        display: none;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
    }
    .blue-strip {
        width: 40vh;
    }

    .red-strip {
        width: 45vh;
    }
}