{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark dark-blue-bg">
  <a class="navbar-brand" href="{%url 'home:home'%}"><img src="{%static 'media/android-chrome-512x512.png'%}" width="32" height="32" alt="IMTI FTUI"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'home:home'%}">Beranda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'investiga:investiga'%}">Investiga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'kastrattv:kastrattv'%}">Kastrat TV</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Berita
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'news:CardEvent'%}">Review Event</a>
          <a class="dropdown-item" href="{%url 'news:POEvent'%}">PO Announcement</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'sopkunjungan:sopkunjungan'%}">SOP</a>
      </li>

    </ul>
  </div>
</nav>